@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --foreground: #f8f5f7;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #6e4c6e;
    --foreground: #0e0d0e;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
